*{
font-family: 'Piazzolla', serif;
/*    font-family: 'Patrick Hand', cursive;*/

}

::selection{
    color: chartreuse;
}
body{
    background-color: black;
    font-family: 'Piazzolla', serif;
    color: white;
    font-weight: 100;
}

#hero-text{

    font-size: 100px;
    margin: 0 auto 50px auto;
    text-align: center;
}

hr{
    font-family: Arial;
    size: 4px;
}
#description{
    width: 720px;
    text-align: center;
    font-size: 20px;
    margin: 70px auto 0 auto;
}
#particles-js
{
    background-color: black;
    position: fixed;
    height: 100%;
    width: 100%;
    /*    padding-top: 100px;*/
    z-index:-1;
}
.btn {
    color: white;
    font-size: 30px;
    background-color: transparent;
    text-align: center;
    padding: 7px;
    border: 2px solid white;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
}
.btn:hover{
    background-color: white;
    color: black;
}
.buttons{
    /*width: 400px;*/
    margin: 200px auto 0 auto;
    text-align: center;
}
.btn:visited{
    text-decoration: none;
}
.fields{
    color: white;
    margin: 12px auto 12px auto;
    font-size: 30px;
    background-color: transparent;
    /*text-align: center;*/
    font-family: 'Piazzolla', serif;
    padding: 7px;
    border: 2px solid white;
    text-decoration: none;
}
.input-form{
    margin: 50px auto 0 auto;
    width: 720px;
    text-align: center;
}

.btn-submit{
    margin-top: 20px;
}
.error{
    color: #cf1b1b;
}

/*-------------------------------------------------*/
/*-------------------NAVBAR------------------------*/
/*-------------------------------------------------*/

#navlinks
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navlinks li
{
    display: inline;
}
#nav-add{
    border: 1px solid white;
}
#nav-add:hover
{
    background-color: white;
    color: black;
}
.links
{
    display: block;
    padding: 10px;
    color: white;
    /*border: solid 1px white;*/
    float: left;
    margin: 0px 5px 10px 5px;
    text-decoration: none;
    font-size: 20px;
}
.links:hover{
    /*color: black;*/
    /*background-color: white;*/
    border-bottom: solid 1px white;
    transition: border-bottom-color 2s;

}
.navbar
{
    height: 50px;
    display: block;
    margin: 0 0 20px 0;
}

.nav-add-content{
    float: right;
}

.user-details{
    font-size: 20px;
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: center;
    border: 3px solid white;
    padding: 10px;
}
.labels{
    display: block;
    width: 40%;
    float: left;
    text-align: left;
    /*margin: 5px 50px 5px 5px;*/
}
.info{
    display: block;
    width: 60%;
    text-align: right;
    float: right;
}

/*----------------------------------------------------------*/
/*-------------------PROFILE STUFF--------------------------*/
/*----------------------------------------------------------*/

.btn-profile{
    color: white;
    font-size: 20px;
    background-color: transparent;
    text-align: center;
    padding: 7px;
    border: 2px solid white;
    text-decoration: none;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 5px;
}
.btn-profile:hover{
    background-color: #ffffff;
    color: black;
}

.message{
    font-size: 30px;
    color: rgba(171, 171, 171, 0.66);
    padding: 50px;
    margin: 100px auto 50px auto;
    text-align: center;
    display: block;
}
#myposts
{
    font-size: 100px;
    margin: 150px auto 50px auto;
    text-align: center;
}
#btn-add-post
{
    margin: 100px auto 100px auto;
}
.active-nav{
    border-bottom: 1px solid white;
}

/*---------------------------------------------------*/
/*---------------------FORMS-------------------------*/
/*---------------------------------------------------*/
.form-fields{
    color: white;
    margin: 12px auto 12px auto;
    font-size: 20px;
    font-family: 'Piazzolla', serif;
    background-color: transparent;
    width: 90%;
    padding: 7px;
    border: 2px solid white;
    text-decoration: none;
}


/*----------------------------------------------------*/
/*---------------------POSTS--------------------------*/
/*----------------------------------------------------*/

.post
{
    border: 3px solid white;
    width: 60%;
    color: white;
    margin: 50px auto 12px auto;
    font-size: 20px;
    font-family: 'Piazzolla', serif;
    background-color: transparent;
    padding: 7px;
    text-decoration: none;
}
.post-title{
    text-decoration: none;
    color: white;
    font-size: 30px;
    margin: 5px auto 50px 5px;
    display: block;
    border-bottom: 1px solid white;
}
.post-content{
    margin: 5px auto 5px auto;
}
.author{
    font-style: italic;
    font-size:15px;
    color: aqua;
}
.deletePost{
    float: right;
}
.del-link{
    font-size: 15px;
    background-color: #cf1b1b;

    /*font-style: italic;*/
    color: white;
    text-decoration: none;
    /*border: 1px solid white;*/
}
.del-link:hover{
    border: 1px solid white;
}

.tags{
    background-color: transparent;
    color: yellow;
    border: 1px solid white;
    border-radius: 3px;
    padding: 3px;
    font-size: 15px;
    margin: 0px auto 0px 5px;
}
.tag-container{
    display: block;
    margin-top: 15px;
}
.post-details{
    display: block;
    margin-top: 15px;
}

/*--------------------------------------------------*/
/*------------------COMMENTS------------------------*/
/*--------------------------------------------------*/

.comments
{
    border: 3px solid white;
    width: 60%;
    color: white;
    margin: 10px auto 12px auto;
    font-size: 20px;
    font-family: 'Piazzolla', serif;
    background-color: transparent;
    padding: 7px;
    text-decoration: none;
}


.comment-field {
    border: 3px solid white;
    width: 61%;
    color: white;
    margin: 50px 19% 12px 19%;
    font-size: 15px;
    font-family: 'Piazzolla', serif;
    background-color: transparent;
    text-decoration: none;
}

textarea{
    resize: none;
}

#comment-send-btn{
    align-self: center;
    margin: 10px 48% 30px 48%;
    background-color: transparent;
    font-size: 15px;
    color: white;
    border: 1px solid white;
}
#comment-send-btn:hover{
    background-color: white;
    color: black;
}

.comment-container{
    margin: 5px auto 30px auto;
    border: 1px solid white;
    padding: 5px;
}
.comment-info{
    font-size: 20px;
    color: aqua;
    font-style: italic;
}
.comment-content{
    font-size: 15px;
    color: white;
}

/*---------------------------------------------*/
/*------------------LINKS----------------------*/
/*---------------------------------------------*/

.links-container{
    width: 60%;
    background-color: transparent;
    font-size: 30px;
    padding: 10px;
    margin: 150px auto 50px auto;
}
.link{
    border: 3px solid white;
    padding: 10px;
    margin-top: 20px;
}
.link-name{
    color: aqua;
    font-size: 25px;
    margin-bottom: 10px;
}
.link-desc
{
    font-size: 20px;
    margin-bottom: 10px;
}
.link-btn{
    border: 1px solid white;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
    padding: 7px;
    color: white;
}
.link-btn:hover{
    background-color: white;
    color: black;
}


/*-------------------------------------------*/
/*----------------PLAYLISTS------------------*/
/*-------------------------------------------*/

.playlist-container{
    width: 60%;
    background-color: transparent;
    font-size: 30px;
    padding: 10px;
    margin: 150px auto 50px auto;
}

.playlist{
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}

.playlist-frame{
    width: 100%;
    margin: 0px auto 20px auto;
}
.playlist-genre{
    margin-bottom: 50px;
}

/*--------------------------------------------*/
/*---------------USERS------------------------*/
/*--------------------------------------------*/

.user-container{
    width: 60%;
    background-color: transparent;
    font-size: 20px;
    padding: 10px;
    margin: 150px auto 50px auto;
}

.user-table{
    padding: 10px;
    border: 3px solid white;
    width: 100%;
}

.user-row{
    margin: 5px auto 5px auto;
    border: 1px solid white;
    border-radius: 3px;
}
.user-name{
    text-align: center;
}
.user-role{
    text-align: center;
}
th{
    font-weight: bold;
}
.user-th{
    color: aqua;
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
}
